<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.flavor.fsnfc"
      android:versionCode="27"
      android:versionName="1.8">
    <uses-sdk android:minSdkVersion="14" />

    <application android:name=".App" android:icon="@drawable/ic_launcher" android:theme="@style/CustomTheme" android:label="@string/app_name"
    				android:debuggable="true">
        <activity android:name=".DashboardActivity"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="sven" android:host="foursquare"></data>
			</intent-filter>            
        </activity>
        
        <activity android:name=".SearchVenuesActivity" android:screenOrientation="portrait"/>        
    	<activity android:name=".WriteActivity" android:screenOrientation="portrait"/>

    	<activity android:name=".CheckinActivity" android:screenOrientation="portrait">
	       <intent-filter>
			  <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			  <data android:mimeType="fs/checkin" />
			  <category android:name="android.intent.category.DEFAULT" />
			</intent-filter> 
			<intent-filter>
			  <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
			  <category android:name="android.intent.category.DEFAULT" />
			  <category android:name="android.intent.category.BROWSABLE"/>
			  <data android:scheme="http" android:host="flavor.de"></data>
			</intent-filter>
    	</activity>
    	
		<activity android:name=".CheckedinActivity" android:screenOrientation="portrait"/>
		
		<service android:name=".CheckinService">
			
		</service>
		<activity android:name=".Preferences" android:screenOrientation="portrait"/>
		
		
		<activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>

		<uses-library android:name="android.test.runner" />
    </application>
    
    <instrumentation android:name="android.test.InstrumentationTestRunner" android:targetPackage="de.flavor.fsnfc" android:label="Tests"/>
    
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.NFC" />	
	
	    
</manifest>